<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309040560224-8ur8m58f5ol96sn386ju74ronsd9roim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309040560224-8ur8m58f5ol96sn386ju74ronsd9roim</string>
	<key>API_KEY</key>
	<string>AIzaSyBDUkHj27TcGoYaoV4IE79MWe5cmHBzTBY</string>
	<key>GCM_SENDER_ID</key>
	<string>309040560224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.nyxo.deploy</string>
	<key>PROJECT_ID</key>
	<string>netlifyi</string>
	<key>STORAGE_BUCKET</key>
	<string>netlifyi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309040560224:ios:ef47741b1ff0c35a3d6b05</string>
</dict>
</plist>